

<%= form_for(@newPost) do |f| %>
<center>
   <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>
  </center>
<% end %>


